/* h1 {
  color: blue;
} */

/* p {
  color: red;
} */

/* #test {
  color: red;
}

.card {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
}

.card-red {
  background-color: red;
} */

/* #special-text {
  color: purple !important;
}

.text {
  color: blue !important;
}

p {
  color: yellow !important;
} */
