.square {
  /* width: 200px;
  height: 200px;
  margin: 50px;
  background-color: red; */
  /* position: absolute;
  left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  /* transform: translateY(200px); */

  /* transform: rotateY(180deg); */
  /* transform: scale(1.9); */
}
