* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}
.input-container {
  position: relative;
  width: 200px;
}

.input-container input {
  width: 100%;
  padding: 6px 24px 6px 10px;
}

.input-container img {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  transition: 0.4s;
}

.input-container .dropdown-menu {
  display: none;
  position: absolute;
  top: 36px;
  background-color: rgb(226, 249, 237);
  width: 100%;
  border-radius: 4px;
  max-height: 160px;
  overflow: auto;
}

.input-container .dropdown-menu.open {
  display: block;
  /* animation: open-dropdown 2s both; */
}

.input-container .dropdown-menu .menu-item {
  padding: 4px 8px;
  border-bottom: 1px solid pink;
  transition: 0.4s;
  cursor: pointer;
}
.input-container .dropdown-menu .menu-item:last-child {
  border-bottom: none;
}
.input-container .dropdown-menu .menu-item:hover {
  background-color: blueviolet;
  color: white;
}

/* @keyframes open-dropdown {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
} */
